.form {
    max-width: 600px;
    color: #fff;
}



.form__text {
    display: inline-block;
    width: 250px;
    text-align: left;
}

.form__fieldset {
    text-align: center;
    background-color: #002855;
    border-radius: 20px;
    border: 2px solid #979DAC;
    box-shadow: 0 0 10px #33415C;
}

.form__legend {
    background-color: #0353A4;
    padding: 10px;
    border-radius: 10px;
    
    border: 2px solid #979DAC;
}

.form__label {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: space-around;
    padding: 10px;
}

@media (max-width: 767px) {
    .form__label {
        grid-template-columns: 400px;
    }

}

.form__button {
    padding: 10px 20px;
    border: 2px solid #222;
    border-radius: 20px;
    background-image: radial-gradient(hsl(210, 96%, 40%), #001233);
    color: #fff;
}

.form__button:hover {
    background-image: radial-gradient(hsl(210, 96%, 60%), #001233);
}

.form__button:active {
    background-image: radial-gradient(hsl(210, 96%, 75%), #001233);
}